<div class="theme-showcase" role="main">

  <div class="content">
    <h1>Welcome to your online journal of recipes!</h1>
    <p>To cook, create and enjoy! Here at my recipe you can share your favorite
      recipes with your family and friends. </p>
  </div>

    <div class="center">
      <%= link_to "Sign In", signin_path, class: "btn btn-primary" %> |
      <%= link_to "Log-in with Facebook", '/auth/facebook', class: "btn btn-primary" %> |
      <%= link_to "Register", new_culinary_artist_path, class: "btn btn-primary" %>
    </div>
  </div>
