<h2>Here is your recipe page! Keep on cooking and creating! </h2>

<% @recipes.each do |recipe|  %>

  <%= recipe.title %> |
  <%= link_to "Show", recipe %> |
  <%= link_to "Edit", recipe %>

<% end %>

<br>

  <%= link_to "New Recipe", new_recipe_path %>
