<p>
    <b>Name:</b>
    <%=@ingredient.name %>

    <% @ingredient.recipes.each do |list| %>
        <li> <%= link_to list.title, recipe_path(list) %></li>
    <% end %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %>
<%= link_to 'Index', ingredients_path %>
