<p>
    <b>Name:</b>
    <%= @ingredient.name %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %>
<%= link_to 'Index', ingredients_path %>
<%= link_to "Log Out", logout_path, method: :destroy, class: "nav-link" %>
