
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
    color: rgb(247, 238, 238);
    font-family: Helvetica;
    line-height: 18px;
    margin: 33px;
    padding: 0;
    background-image: url("kenny-luo-zi6B_lcbP3o-unsplash.jpg");
    background-size: cover;
    min-height: 100vh;
  }

 div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }

  main {
      text-align: center;
      margin: 0 auto;
      color: #fff;
      max-width: 680px;
      padding: 20px;
      min-height: 565px;
      }

 .content {
    float: none;
    border: 3px solid #ccc;
    background: rgb(155, 188, 219);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: contain;
    z-index: 2;
    margin: auto;
    width: 70%;
    height: 100px;
   }

   .sidebar {
      background: #eee;
      border: 1px solid #ccc;
      float: right;
      padding: 5px; /* 5px / 240px */
      width: 30%; /* 240px / 800px */
    }

  .center {
    background: #eee;
    margin: auto;
    border: 1px solid #ccc;
    background-position: center 0px;
    text-align: center;
    padding: 5px; /* 5px / 240px */
    width: 35%; /* 240px / 800px */
  }

  p{
    text-align: center;
  }

  li{
    text-align: center;
  }

  h2{
    text-align: center;
  }

  a {
    color: #2E16B5;

    &:visited {
    color: #AD3434;
    }

  &:hover {
    color: #AC81D6;
    background-color: #000;
    }
  }
