<h3> <%= link_to "Account Deletion", culinary_artist_path(current_user), method: :delete, data: { confirm: "Are you sure you'd like to delete this account?" } %> </h3>

<h1> Edit Culinary Artist </h1>

<%= render 'form' %>

<%= link_to 'Show', @culinary_artist %>
