<h3>Welcome, <% @culinary_artist %> here are your recipes: </h3>

<%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary" %>


#culinary_artist_recipe_path  #This is the path for a single culinary_artist recipe

 #have to change routes to embed recipes
