<h3>Welcome, <% current_user %> here are your recipes: </h3>

<%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary" %>
<%= link_to "Log Out", logout_path, method: :destroy, class: "nav-link" %>
