<h3>Welcome, <%= @culinary_artist_id %> here are your recipes: </h3>

#culinary_artist_recipe_path          #This is the path for a single culinary_artist recipe

 #have to change routes to embed recipes
