<div>
<% if current_user %>

	<%= link_to "Ingredients", ingredients_path %> |
	<%= link_to "Recipes", recipes_path %> |
	<%= link_to "Log Out", logout_path %>

<%else%>
	<%= link_to "Login", signin_path %>

<% end %>

</div>
